doctype html
html(lang="ru")
  head
    title= pageTitle
    script(type='text/javascript', src='bundle.js').

  body
    h1 [2] Подготовка инфраструктуры
    .text Вот текст и картинка
    img(src="hello.jpg")
    